
html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'footer-1 footer-1'
                          'footer-2 footer-2'
                          'footer-3 footer-3';
    gap: 20px;
}

#footer-1 {
    height: 40vh;
    grid-area: footer-1;
    position: relative;
    background: #1d1b1b;
    overflow: hidden;
}


.title-footer1 {
    text-align: center;
    position: relative;
    top: 20px;
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0 auto;
    width: 100%;
    bottom: 380px;
    left: 350px;
    justify-content: flex-start;

}

.sec-1 {
    color: blue;
    display: flex;
    flex-direction: column;
    width: 9%;
    color: white;
}

.sec-1 p {
    position: relative;
    bottom: 10px;
}


.flex-container h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000px;
    color: white;
}

.sec-2 {
    display: FLEX;
    color: white;
    padding-left: 100px;
    flex-direction: column;
}


.svg_wave {
    height: 430px   ;
    width: 100%;
}

.sec-3 {
    padding-left: 150px;
    color: white;
    display: flex;
    flex-direction: column;
}

.sec-4 {
    padding-left: 170px;
}

.social-media1 {
    padding-left: 10px;
    text-decoration: none;
}

.social-media1 a {
    text-decoration: none;
    padding: 15px;
    border: 0.1px solid white;
    color: white;
}

.social-media1 a:hover {
    color: rgb(206, 206, 178);
    border: 0.1px solid rgb(206, 206, 178);
}

.sec-1 a, .sec-2 a, .sec-3 a {
    text-decoration: none;
    color: white;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sec-1 a:hover, .sec-2 a:hover, .sec-3 a:hover {
    color: rgb(206, 206, 178)
}

.sec-1 p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



#footer-2 {
    background-color: wheat;
    height: 55vh;
    grid-area: footer-2;
}

.flex-container2 {
    display: flex;
    flex-direction: column;
}

.first-sec {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
    gap: 450px;

}

.social-media2 a {
    text-decoration: none;
    margin-left: 50px;
}

.social-media2 {
    display: flex;

}

.second-sec {
    background-color: rgb(58, 47, 32);
    height: 150px;
    width: 60%;
    margin-top: 70px;
    align-self: center;
    
}



.basic-logo {
    height: 150px;
    
}

#footer-3 {
    background-color: blueviolet;
    height: 30vh;
    grid-area: footer-3
}