
html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'footer-1 footer-1'
                          'footer-2 footer-2'
                          'footer-3 footer-3';
    gap: 20px;
}

#footer-1 {
    background-color: cyan;
    height: 30vh;
    grid-area: footer-1;
}

#footer-2 {
    background-color: wheat;
    height: 30vh;
    grid-area: footer-2;
}

#footer-3 {
    background-color: blueviolet;
    height: 30vh;
    grid-area: footer-3
}